<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="top-info center">We currently have <span>51</span> gigs but only <span>11</span> contractors</h1>
  </div>
</div>
<div class="row example-search">
  <div class="col-md-6 col-md-offset-2"><h2 class="example">Example: Software Developer</h2></div>
  <div class="col-md-4">
    <input type="button" value="Search" class="btn btn-info btn-lg">
  </div>
</div>
<div class="row">
  <div class="col-md-3"><h2>Advanced search</h2></div>
  <div class="col-md-6"><h2>Gigs</h2></div>
  <div class="col-md-3 sortby">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Sort by
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>    
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <p>Search</p>
    <input type="text" placeholder="Developer, Accountant, etc.">
    <br><br>
    <p>Job Category</p>
    <select name="" id="">
      <option value="">Web Development</option>
      <option value="">Sales and Marketing</option>
      <option value="">Office and Administrative</option>
    </select>
    <br><br>
    <p>Location</p>
    <input type="text" placeholder="Denver, Miami, etc...">
    <br><br>
    <input type="button" class="btn btn-default btn-info btn-large" value="Search">
  </div>
  <div class="col-md-9">
    <div class="gig-data">
      <div class="col-md-7">
        <p>Test <span>$20</span></p>
        <p>Skills: rails 4, javascript</p>
      </div>
      <div class="col-md-3">
        <p>Web Development</p>
      </div>
      <div class="col-md-2 bid-info">
        <p>15/07/2015</p>
        <p>Proposals: <span>0</span></p>
      </div>
    </div>
    <hr>
    <div class="gig-data">
      <div class="col-md-7">
        <p>Accountant <span>$20</span></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus molestias placeat illum et laboriosam, itaque doloremque! In sit totam maiores?</p>
      </div>
      <div class="col-md-3">
        <p>Accounting</p>
      </div>
      <div class="col-md-2 bid-info">
        <p>15/07/2015</p>
        <p>Proposals: <span>6</span></p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3 col-md-offset-9">
    <ul class="pagination">
      <li><a href="#">&laquo;</a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">&raquo;</a></li>
    </ul>
  </div>
</div>