<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Elance</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <form class="navbar-form navbar-left search" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Browse all gigs &raquo;">
        </div>
        <input type="button" class="btn btn-default" value="Post a gig &raquo;">
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="signinup">
          <input type="button" class="btn btn-default btn-success signin" value="Sign in">
        </li>
        <li>
          <input type="button" class="btn btn-default btn-info signup" value="Sign up">
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>